<div id="topnav-container">
  <header id="topnav" class="header-logo" role="banner">
    <%= link_to 'http://library.stanford.edu' do %>
    <%= content_tag :span, "Stanford University Libraries", class: "sr-only" %>
    <% end %>

    <div class="header-links" id="login_id">
      <% if user_signed_in? %>
         <%= link_to('logout', destroy_user_session_path, method: :delete) %>
       <% else %>
         <%= link_to('login', new_user_session_path) %>
       <% end %>
      <%= link_to "SearchWorks", "http://searchworks.stanford.edu/" %>
      <%= link_to "Feedback", "http://searchworks.stanford.edu/feedback", target: '_blank', rel: 'noopener noreferrer'  %>
    </div>

  </header>
</div>

<div class="topnav-divider">
  <%= image_tag "logo.svg", class: "logo", alt: "" %>
</div>
